<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Your local tree services team</h3>
                </div>
            </div>
            <div class="row jcc">
                <div class="col-lg-4">
                    <div class="img-container">
                        <img src="/img/about/1.jpg" class="img-circle">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <h3 class="text-center">Matt Panjic</h3>
                        <p>I was born and raised in Eufaula, and I’ve been trimming trees since 2012. It’s my pleasure to keep your property beautiful, your trees, healthy, and your family safe.</p>
                    </div>
                </div>
            </div>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fbusiness.facebook.com%2Fpg%2FEufaula-Tree-Service-LLC-101519942275534%2Fphotos%2F%3Ftab%3Dalbum%26album_id%3D122697156824479&tabs=timeline%2C%20messages&width=0&height=0&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="0" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </section>