<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">For a fast response, just send us a text message. You can also call or reach out on Facebook.</h3>
                </div>
            </div>
            <div class="row jcc">
                <div>
                    <button type="submit" class="btn btn-xl quote-btn">Send Message</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-xl quote-btn">Send us a text</button>
                </div>
                <div >
                    <button type="submit" class="btn btn-xl quote-btn">Facebook<i class="fab fa-facebook-messenger"></i></button>
                </div>
            </div>
        </div>
    </section>
